.updater-banner {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-foreground-color);
    background-color: var(--primary-accent-color);

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        padding: 0 1rem;
        border-radius: 9999px;
        color: var(--primary-background-color);
        background-color: var(--primary-foreground-color);
        transition: transform 0.15s var(--ease-smooth);

        &:hover {
            transform: scale(1.02);
        }

        &:active {
            transform: scale(0.97);
        }
    }

    .close {
        position: absolute;
        right: 0;
        height: 4rem;
        width: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .icon {
            height: 2rem;
        }
    }
}