@import (reference) '~@stremio/stremio-colors/less/stremio-colors.less';

.context-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .context-menu {
        position: fixed;
        border-radius: var(--border-radius);
        background-color: var(--modal-background-color);
        box-shadow: var(--outer-glow);
    }
}