IDI_ICON1               ICON        DISCARDABLE            "images/stremio.ico"
#include "windows.h"
VS_VERSION_INFO VERSIONINFO
FILEVERSION STREMIO_SHELL_BIN_VERSION
PRODUCTVERSION STREMIO_SHELL_BIN_VERSION
FILEFLAGSMASK 0x3fL
FILEOS 0x4L
FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Smart Code Ltd\0"
            VALUE "FileDescription", "Freedom to Stream\0"
            VALUE "FileVersion", STREMIO_SHELL_VERSION
            VALUE "LegalCopyright", "https://www.stremio.com\0"
            VALUE "OriginalFilename", "stremio.exe\0"
            VALUE "ProductName", "Stremio\0"
            VALUE "ProductVersion", STREMIO_SHELL_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
