.link {
    position: relative;
    display: flex;
    align-items: center;
    height: 2rem;

    .label {
        color: var(--primary-accent-color);
        transition: filter 0.15s cubic-bezier(0.22, 1, 0.36, 1);
    }

    &:hover {
        .label {
            text-decoration: underline;
            filter: brightness(1.1);
        }
    }
}
